html
    head
        title user listings
        style
            include ../public/stylesheets/userListStyles.css
            //- this is what is supposed to be the right styles
            //- link(rel="stylesheet", href="stylesheets/userListStyles.css", type="text/css")
    body
        h1 user listings
        div(class='header')
            div(class='field-container')
                p name
            div(class='number-container')
                p age
            div(class='field-container')
                p name
            div(class='number-container')
                p user Id
        ul
            each val, index in userArray
                div(class='flex-container')
                    div(class= 'container')
                        div(class='field-container')
                            p= val.name
                        div(class='number-container')
                            p= val.age
                        div(class='field-container')
                            p= val.email
                        div(class='number-container')
                            p= val.userId
                    p(class='edit-del-links')
                        a(href=`/deleteUser/${index}`) Delete
                    p(class='edit-del-links')
                        a(href=`/editUser/${index}`) Edit
        p
            a(href='/') Add User
